<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico" />
    <!-- Generated: 2018-04-16 09:29:05 +0200 -->
    <title>My own</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <script src="./assets/js/require.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script>
      requirejs.config({
          baseUrl: '.'
      });
    </script>
    <!-- Dashboard Core -->
    <link href="./dashboard.css" rel="stylesheet" />
    <script src="./dashboard.js"></script>
    


<style>
    .back{
        text-align: center;
    }

    .pad{
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .pad2{
        padding-top: 30px;
        padding-bottom: 30px;
    }


    @keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  animation-duration: 0.75s;
  animation-name: bounceIn;
}

</style>


  </head>
  <body class="">
    <div class="page">
      <div class="page-main">
        <div class="header bg-dark" id="Main header">
                <div class="p-3 mb-2 bg-dark text-white">
                        <div class="d-flex">
                                
                                <div class="mr-auto p-2">Logo</div>
                                <div class="p-2">
                                        <button type="button" class="btn btn-outline-light btn-sm">Home</button>
                                </div>
                                <div class="p-2">
                                        
                                                <button type="button" class="btn btn-outline-light btn-sm">About</button>
                                            
                                </div>
                                <div class="p-2">
                                        
                                                <button type="button" class="btn btn-outline-light btn-sm">Contact</button>
                                      
                                </div>
                                <div class="p-2">
                                        
                                                <button type="button" class="btn btn-outline-light btn-sm">Share</button>
                                        
                                </div>
                              </div>
                              </div>
        </div>
        <div class="header collapse d-lg-flex p-0 bg-dark text-white" id="1">
          <div class="container">
            <div class="row">
                <div class="col-lg-8">
                        <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">This is my template</h1>
                           <div class="col-lg-12">
                        <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"> Bitcoins are created as a reward for a process known as mining. They can be exchanged for other currencies, products, and services. As of February 2015, over 100,000 merchants and vendors accepted bitcoin as payment. Research produced by the University of Cambridge estimates that in 2017, there were 2.9 to 5.8 million unique users using a cryptocurrency wallet, most of them using bitcoin.</p></div>
                
            </div>
              <div class="col-lg-4 ml-auto">
                    <div class="card text-secondary bounceIn">
                            <div class="card-header">
                              <h3 class="card-title">Sign Up</h3>
                            </div>
                            <div class="card-body">
                              <form>
                                <div class="row">
                                  <div class="col">
                                    <div class="form-group">
                
                                      <input class="form-control" placeholder="Enter Name"/>
                                    </div>
                                  </div>
                                </div>
                                
                                <div class="form-group">
                                  
                                  <input class="form-control" placeholder="Enter Email"/>
                                </div>
                                <div class="form-group">
                                  
                                  <input type="password" class="form-control" placeholder="Enter password"/>
                                </div>
                                <div class="form-group">
                                  
                                        <input type="password" class="form-control" placeholder="Confirm password"/>
                                      </div>
                                <div class="form-footer">
                                  <button class="btn btn-primary btn-block">Submit</button>
                                </div>
                              </form>
                            </div>
                          </div>
              </div>
              
            </div>
          </div>
        </div>

        <div class="header collapse d-lg-flex p-0 bg-primary text-white" id="2">
                <div class="container">
                  <div class="row d-flex justify-content-center">
                     
                    <div class=" align-center">
                            <h1 align="text-center" style="font-family: fantasy; margin-top: 40px">
                                <center>Explore</center>
                            
                            </h1>
                            <p>
                                <center>The user interface is built around the device's multi-touch screen, including a virtual keyboard. The iPhone has Wi-Fi and can connect to cellular networks. An iPhone can shoot video (though this was not a standard feature until the iPhone 3GS), take photos, play music, send and receive email, browse the web, send and receive text messages, follow GPS navigation, record notes, perform mathematical calculations, and receive visual voicemail.</center></p>
                    </div>
                    
                        <div class="back text-center center-block pad">
                        <button type="button"align="center" class="btn btn-outline-light btn-sm center-block">Home</button>
                    </div>
                    
            
                  </div>
                  <div></div>
                </div>
              </div>

              <div class="header collapse d-lg-flex p-0" id="3">
                    <div class="container">
                      <div class="row pad2">
                          <div class="col-lg-6">
                      <td><img src="mac.png" alt="" class=""></td>
                      
                          </div>
                         
                        <div class="align-center col-lg-6 ml-auto">
                                <h1 align="text-center" style="font-family: fantasy; margin-top: 40px">
                                Explore & connect
                                </h1>
                                
                                <p>The user interface is built around the device's multi-touch screen, including a virtual keyboard. The iPhone has Wi-Fi and can connect to cellular networks. An iPhone can shoot video (though this was not a standard feature until the iPhone 3GS), take photos, play music, send and receive email, browse the web, send and receive text messages, follow GPS navigation, record notes, perform mathematical calculations, and receive visual voicemail.</p>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  <div class="header collapse d-lg-flex p-0 bg-primary text-white" id="4">
                        <div class="container">
                          <div class="row d-flex justify-content-center">
                             
                            <div class=" align-center">
                                    <h1 align="text-center" style="font-family: fantasy; margin-top: 40px">
                                        <center>Contact Us</center>
                                    
                                    </h1>
                                    <p>
                                        <center>The user interface is built around the device's multi-touch screen, including a virtual keyboard. The iPhone has Wi-Fi and can connect to cellular networks. An iPhone can shoot video (though this was not a standard feature until the iPhone 3GS), take photos, play music, send and receive email, browse the web, send and receive text messages, follow GPS navigation, record notes, perform mathematical calculations, and receive visual voicemail.</center></p>
                            </div>
                            
                                <div class="back text-center center-block pad">
                                <button type="button"align="center" class="btn btn-outline-light btn-sm center-block">Contact</button>
                           
                            </div>
                            
                    
                          </div>
                          <div></div>
                        </div>
                      </div>
                  
                      <div class="header collapse d-lg-flex p-0" id="5">
                            <div class="container">
                              <div class="row pad2">
                                  
                                 
                                <div class="align-center col-lg-6 pad2">
                                        <h1 align="text-center" style="font-family: fantasy; margin-top: 40px">
                                        Explore & connect
                                        </h1>
                                        
                                        <p>The user interface is built around the device's multi-touch screen, including a virtual keyboard. The iPhone has Wi-Fi and can connect to cellular networks. An iPhone can shoot video (though this was not a standard feature until the iPhone 3GS), take photos, play music, send and receive email, browse the web, send and receive text messages, follow GPS navigation, record notes, perform mathematical calculations, and receive visual voicemail.</p>
                                </div>

                                <div class="col-lg-6 ml-auto pad">
                                        <td><img src="mac2.png" alt="" class=""></td>
                                        
                                            </div>
                                
                              </div>
                            </div>
                          </div>

                          <div class="header collapse d-lg-flex p-0 bg-dark text-white" id="6">
                                <div class="container">
                                        <div class="row d-flex justify-content-center">
                                           
                                          <div class=" align-center pad">
                                                  <h1 align="text-center" style="font-family: Arial, Helvetica, sans-serif">
                                                      <center>Pulkit</center>
                                                  
                                                  </h1>
                                                  <p>
                                                      Pulkit@gmail.com
                                                </p>
                                          </div>
                                          
                                            
                                          
                                  
                                        </div>
                                        <div></div>
                                      </div>
                              </div>
                      
      </div>
      
      
    </div>

    

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>